body {
  background: -webkit-linear-gradient(#ffffff, rgb(240, 223, 255));
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #2119b0;
}

#main-page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 12%;

}

#user-thought-container {
  margin-top: 20px;
  /* border: 1px black solid; */
}

#user-thought-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

#user-thought {
  margin-left: 15px;
  margin-right: 15px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;


}

header {
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  background: -webkit-linear-gradient(rgb(240, 223, 255), #ffffff);

}

#thoughts-chain {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
  /* border: 1px solid black; */
}

#user-profile-pic {
  height: 70px;
  width: 70px;
  border-radius: 50px;
}


#title-div {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: fit-content;
  justify-content: right;
}

#title-div-user-home {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: fit-content;
  justify-content: right;
}

#search-form-container {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;

}

#search-form {
  /* border: 1px solid black; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

#search-field {
  border: none;
  width: 650px;
  height: 30px;
  margin-right: 10px;
  margin-top: -2px;
  background: none;
  border-bottom: 2px solid rgb(153, 0, 255);
}

#search-field:focus {
  border: none;

}

#thoughtbook-title-text {
  font-size: 62px;
  background: -webkit-linear-gradient(#5571C4, #DD22BE);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

#thoughtbook-title-text-login-page {
  font-size: 22px;
  background: -webkit-linear-gradient(#5571C4, #DD22BE);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;

}

#signup-invite-text {
  font-size: 12px;
  color: #5e1766;
  font-family: Arial, Helvetica, sans-serif;
}

#thoughtbook-title-text2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #5e1766;
  font-size: 24px;
  font-weight: 800;

}

#thoughtbook-title-text3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #5e1766;
  font-size: 15px;
  width: 400px;
}

#logo {
  height: 60px;
  width: 65px;
  margin-bottom: -50px;
  margin-right: 170px;
}

#logo-login-page {
  margin-top: 5%;
  height: 20px;
  width: 22px;

}

#logo-main-page {
  margin-top: 5%;
  height: 20px;
  width: 22px;
  margin-bottom: -15px;
  margin-right: 55px;

}

#buttons {
  margin-top: 20px;
}

#user-thought-image img {
  height: 400px;
  width: 400px;
}

#search-button,
#post-button {
  height: 40px;
  width: 90px;
}



#post-button {
  margin-bottom: 10px;
  margin-top: 10px;
}

#login-button
{
  margin-top: 10px;
}
#login-button,
#follow-button,
#search-button,
#post-button,
#re-generate-button,
#donate-button,
#signup-button {
  color: azure;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  background: linear-gradient(150deg, #5571C4, #DD22BE);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

#login-button:hover,
#follow-button:hover,
#search-button:hover,
#post-button:hover,
#re-generate-button:hover,
#signup-button:hover {
  background: #bb1da1;
  cursor: pointer;
}

#login-button:focus,
#follow-button:focus,
#search-button:focus,
#post-button:focus,
#re-generate-button:focus,
#signup-button:focus {
  background: linear-gradient(#781367, #590e4c);
}

#main-right img {
  border-radius: 15px;
  height: 50%;
  width: 85%;
  background-image: image('./Having coffee with my dog (1).gif');
}

#re-generate-button {
  padding: 12px;
  margin-left: 10px;
}

label {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #590e4c;
}

#user-thought-title-preview {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;

}

#user-thought-preview {
  width: 350px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;

}

#login-form-container {
  border-radius: 5px;
  height: 300px;
  width: 300px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px #590e4c;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: -webkit-linear-gradient(#ffffff, rgb(240, 223, 255));

}

#signup-form-container {
  border-radius: 5px;
  height: 430px;
  width: 300px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px #590e4c;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: -webkit-linear-gradient(#ffffff, rgb(240, 223, 255));

}

#generated-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(77, 62, 161);
  border-radius: 10px;
  width: 50%;
  margin: auto;
}

#generated-image img {
  border: 1px solid black;
  height: 350px;
  width: 350px;
}

input {
  margin-top: 10px;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}

#footer-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #590e4c;
  text-align: center;
  margin: auto;
  width: 100%;

}

@media screen and (max-width:1080px) {

  #main-right {
      display: none;
  }
}

@media screen and (max-width:950px) {
  #search-field {
      width: 400px;
      margin-bottom: 10px;
  }

  #search-form {
      width: 100%;
      flex-direction: column;
  }

  #generated-image-container {
      width: 400px;
  }
}

@media screen and (max-width:640px) {

  #main-left {
      margin-top: 32%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  #thoughtbook-title-text {
      font-size: 32px;
  }

  #thoughtbook-title-text2 {
      font-size: 12px;

  }

  #thoughtbook-title-text3 {
      font-size: 11px;

  }

  #logo {
      height: 30px;
      width: 32px;
      margin-bottom: -25px;
      margin-right: 90px;
  }

  #search-field {
      width: 400px;
      margin-bottom: 10px;
      margin: auto;
  }

  #search-button {
      margin-top: 10px;
  }

  #thoughtbook-title-text3 {
      width: 200px;
      text-align: left;
  }
}